<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img class="iconoMenu"src="/images/iconomenu2.png" alt="Menu"></label>
        <nav class="menu">
          <ul>
            <li><a href="/Views/index.html">Inicio</a></li>
            <li><a href="/Views/aboutMe.html">Acerca</a></li>
            <li><a href="/Views/ProgrammingLanguages.html">Lenguajes de programación</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>
        </nav>
    </header>
      
      <img class="hero" src="/images/banner.jpeg" alt="Header" title="Header">

      <section class="first-section">
    
        <h2 id="acerca"> Acerca </h2> 
        <p>Programador con conocimientos y experiencia en los lenguajes y Frameworks de programación C# .NET, Javascript, JQuery. Bases de datos MySQL, Oracle, Microsoft SQL, conocimientos en Azure DevOps.
            Capacidades para el desarrollo FrontEnd y BackEnd. Aptitudes para trabajo en equipo.
            Actualmente finalizando carrera Ing. de Sistemas. </p> 
      </section>



</body>
</html>
