<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Projects.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>BlackJack</title>
</head>
<body>
    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img class="iconoMenu"src="../images/iconomenu2.png" alt="Menu"></label>
        <nav class="menu">
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="aboutMe.html">Acerca</a></li>
            <li><a href="ProgrammingLanguages.html">Lenguajes</a></li>
            <li><a href="Proyects.html">Proyectos</a></li>
          </ul>
        </nav>
    </header>

    <iframe src="https://fernandojp21.github.io/Html-css-fundamentos/#google-chrome" frameborder="0" ></iframe>
</body>
</html>