<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito:wght@400;600;700&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <title>Proyecto</title>
</head>
<body>


  <div class="menu"></div>
  
  <header>
    
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu"><img class="iconoMenu"src="/images/iconomenu2.png" alt="Menu"></label>
    <nav class="menu">
      <ul>
        <li><a href="/Views/index.html">Inicio</a></li>
        <li><a href="/Views/aboutMe.html">Acerca</a></li>
        <li><a href="/Views/ProgrammingLanguages.html">Lenguajes de programación</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
  </header>
  
  <img class="hero" src="/images/banner.jpeg" alt="Header" title="Header">
  <img class="fotoPerfil" src="/images/foto.png" alt="foto perfil" title="Foto de perfil">

  <main>
    
    <h1>Fernando Prada</h1>
  
  <section class="first-section">
    
    <h2 id="acerca"> Acerca </h2> 
    <p>Programador con conocimientos y experiencia en los lenguajes y Frameworks de programación C# .NET, Javascript, JQuery. Bases de datos MySQL, Oracle, Microsoft SQL, conocimientos en Azure DevOps.
        Capacidades para el desarrollo FrontEnd y BackEnd. Aptitudes para trabajo en equipo.
        Actualmente finalizando carrera Ing. de Sistemas. </p> 
  </section>

 
  

  <section class="third-section">

    <h2 id="otros"> Otros</h2>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, odit! Facilis, officiis asperiores quasi rerum amet, sapiente, illum quia saepe sint architecto praesentium. Aut ipsa harum deserunt id delectus ducimus!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, odit! Facilis, officiis asperiores quasi rerum amet, sapiente, illum quia saepe sint architecto praesentium. Aut ipsa harum deserunt id delectus ducimus!</p>

  </section>
  
  <section class="fourth-section">
    
    <h2 id="proyectos"> Proyectos </h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, odit! Facilis, officiis asperiores quasi rerum amet, sapiente, illum quia saepe sint architecto praesentium. Aut ipsa harum deserunt id delectus ducimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, odit! Facilis, officiis asperiores quasi rerum amet, sapiente, illum quia saepe sint architecto praesentium. Aut ipsa harum deserunt id delectus ducimus!</p>
  </section>

  <section class="fifth-section">

    <h2 id="contacto"> Contacto </h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, odit! Facilis, officiis asperiores quasi rerum amet, sapiente, illum quia saepe sint architecto praesentium. Aut ipsa harum deserunt id delectus ducimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, odit! Facilis, officiis asperiores quasi rerum amet, sapiente, illum quia saepe sint architecto praesentium. Aut ipsa harum deserunt id delectus ducimus!</p>
    
  </section>


  </main>  
</body>
</html>



