<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <title>Lenguajes</title>
</head>
<body>
    
    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img class="iconoMenu"src="../images/iconomenu2.png" alt="Menu"></label>
        <nav class="menu">
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="aboutMe.html">Acerca</a></li>
            <li><a href="ProgrammingLanguages.html">Lenguajes</a></li>
            <li><a href="Proyects.html">Proyectos</a></li>
          </ul>
        </nav>
    </header>
      
      <img class="hero" src="../images/banner.jpeg" alt="Header" title="Header">
<main>

  <section class="second-section">
  
      <h2> Lenguajes de programación</h2>
      
      <p></p>
  <div class="hero"></div>
      
      <div class="imgLenguajes">
        <img class="imgLenguajes" src="../images/html.png" alt="Imagen de html" title="HTML">
        <img class="imgLenguajes" src="../images/css.png" alt="Imagen de css" title="CSS">
        <img class="imgLenguajes" src="../images/js.png" alt="Imagen de js" title="Javascript">    
      </div>
  
    </section>

</main>    



</body>
</html>
