<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/Projects.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <title>Proyectos</title>
</head>
<body>
    
    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img class="iconoMenu"src="../images/iconomenu2.png" alt="Menu"></label>
        <nav class="menu">
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="aboutMe.html">Acerca</a></li>
            <li><a href="ProgrammingLanguages.html">Lenguajes</a></li>
            <li><a href="Proyects.html">Proyectos</a></li>
          </ul>
        </nav>
    </header>
      
    <div class="hero"></div>
    
    <main> 
            <h1 id="proyectosh1">Proyectos</h1>
          </section>
            <div class="galeria">
                <div class="contenedor-imagenes">
                  <div class="imagen">
                      <img src="../images/blackjack.jpg" alt="">
                      <div class="overlay">
                          <h2><a id="aContImages" href="../Views/ProyectBlackJack.html">BlackJack</a></h2>
                      </div>
                  </div>
    
                  <div class="imagen">
                    <img src="../images/htmlyCss.png" alt="">
                    <div class="overlay">
                        <h2><a id="aContImages" href="../Views\HtmlYcssProyect.html">Html y CSS</a></h2>
                    </div>
                </div>
    
                <div class="imagen">
                  <img  src="../images/tareas.png" alt="">
                  <div class="overlay">
                      <h2><a id="aContImages" href="../Views\TareasPendientesProyect.html">Tareas Pendientes</a></h2>
                  </div>
                </div>

              </div>
            </div>
    </main>
</body>
</html>
